Develop CovidDB MIS application:
Covid-Data-Global :
1. To find out the death percentage locally and globally

In [1]:
import pyspark
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("MakerPlan").getOrCreate()
df = spark.read.csv('worldometer.csv',header=True,inferSchema=True)
df.show()
df.printSchema()

+--------------+-------------+----------+----------+--------+-----------+---------+--------------+------------+-----------+----------------+----------------+-------------+----------+------------+--------------------+
|Country/Region|    Continent|Population|TotalCases|NewCases|TotalDeaths|NewDeaths|TotalRecovered|NewRecovered|ActiveCases|Serious,Critical|Tot Cases/1M pop|Deaths/1M pop|TotalTests|Tests/1M pop|          WHO Region|
+--------------+-------------+----------+----------+--------+-----------+---------+--------------+------------+-----------+----------------+----------------+-------------+----------+------------+--------------------+
|           USA|North America| 331198130|   5032179|    NULL|     162804|     NULL|       2576668|        NULL|    2292707|           18296|           15194|        492.0|  63139605|      190640|            Americas|
|        Brazil|South America| 212710692|   2917562|    NULL|      98644|     NULL|       2047660|        NULL|     771258|            8318|           13716|        464.0|  13206188|       62085|            Americas|
|         India|         Asia|1381344997|   2025409|    NULL|      41638|     NULL|       1377384|        NULL|     606387|            8944|            1466|         30.0|  22149351|       16035|      South-EastAsia|
|        Russia|       Europe| 145940924|    871894|    NULL|      14606|     NULL|        676357|        NULL|     180931|            2300|            5974|        100.0|  29716907|      203623|              Europe|
|  South Africa|       Africa|  59381566|    538184|    NULL|       9604|     NULL|        387316|        NULL|     141264|             539|            9063|        162.0|   3149807|       53044|              Africa|
|        Mexico|North America| 129066160|    462690|    6590|      50517|      819|        308848|        4140|     103325|            3987|            3585|        391.0|   1056915|        8189|            Americas|
|          Peru|South America|  33016319|    455409|    NULL|      20424|     NULL|        310337|        NULL|     124648|            1426|           13793|        619.0|   2493429|       75521|            Americas|
|         Chile|South America|  19132514|    366671|    NULL|       9889|     NULL|        340168|        NULL|      16614|            1358|           19165|        517.0|   1760615|       92022|            Americas|
|      Colombia|South America|  50936262|    357710|    NULL|      11939|     NULL|        192355|        NULL|     153416|            1493|            7023|        234.0|   1801835|       35374|            Americas|
|         Spain|       Europe|  46756648|    354530|    NULL|      28500|     NULL|          NULL|        NULL|       NULL|             617|            7582|        610.0|   7064329|      151087|              Europe|
|          Iran|         Asia|  84097623|    320117|    NULL|      17976|     NULL|        277463|        NULL|      24678|            4156|            3806|        214.0|   2612763|       31068|EasternMediterranean|
|            UK|       Europe|  67922029|    308134|    NULL|      46413|     NULL|          NULL|        NULL|       NULL|              73|            4537|        683.0|  17515234|      257873|              Europe|
|  Saudi Arabia|         Asia|  34865919|    284226|    NULL|       3055|     NULL|        247089|        NULL|      34082|            1915|            8152|         88.0|   3635705|      104277|EasternMediterranean|
|      Pakistan|         Asia| 221295851|    281863|    NULL|       6035|     NULL|        256058|        NULL|      19770|             809|            1274|         27.0|   2058872|        9304|EasternMediterranean|
|    Bangladesh|         Asia| 164851401|    249651|    NULL|       3306|     NULL|        143824|        NULL|     102521|            NULL|            1514|         20.0|   1225124|        7432|      South-EastAsia|
|         Italy|       Europe|  60452568|    249204|    NULL|      35187|     NULL|        201323|        NULL|      12694|              42|            4122|        582.0|   7099713|      117443|              Europe|
|        Turkey|         Asia|  84428331|    237265|    NULL|       5798|     NULL|        220546|        NULL|      10921|             580|            2810|         69.0|   5081802|       60191|              Europe|
|     Argentina|South America|  45236884|    228195|    NULL|       4251|     NULL|         99852|        NULL|     124092|            1150|            5044|         94.0|    794544|       17564|            Americas|
|       Germany|       Europe|  83811260|    215210|    NULL|       9252|     NULL|        196200|        NULL|       9758|             236|            2568|        110.0|   8586648|      102452|              Europe|
|        France|       Europe|  65288306|    195633|    NULL|      30312|     NULL|         82460|        NULL|      82861|             384|            2996|        464.0|   3992206|       61147|              Europe|
+--------------+-------------+----------+----------+--------+-----------+---------+--------------+------------+-----------+----------------+----------------+-------------+----------+------------+--------------------+
only showing top 20 rows

root
 |-- Country/Region: string (nullable = true)
 |-- Continent: string (nullable = true)
 |-- Population: integer (nullable = true)
 |-- TotalCases: integer (nullable = true)
 |-- NewCases: integer (nullable = true)
 |-- TotalDeaths: integer (nullable = true)
 |-- NewDeaths: integer (nullable = true)
 |-- TotalRecovered: integer (nullable = true)
 |-- NewRecovered: integer (nullable = true)
 |-- ActiveCases: integer (nullable = true)
 |-- Serious,Critical: integer (nullable = true)
 |-- Tot Cases/1M pop: integer (nullable = true)
 |-- Deaths/1M pop: double (nullable = true)
 |-- TotalTests: integer (nullable = true)
 |-- Tests/1M pop: integer (nullable = true)
 |-- WHO Region: string (nullable = true)

In [2]:
from pyspark.sql.functions import sum,round
result = df.select(round((sum("TotalDeaths")*100.0/sum("totalCases")),2).alias("global_death_percent"))
result.show()

+--------------------+
|global_death_percent|
+--------------------+
|                3.72|
+--------------------+

In [3]:
from pyspark.sql.functions import col, round, when
df_with_percent = df.select(col("Country/Region"),col("TotalCases"),col("TotalDeaths"),
round((col("TotalDeaths")*100.0/when(col("TotalCases")!=0,col("TotalCases"))),2).alias("local_death_percent"))
result = df_with_percent.orderBy(col("local_death_percent").desc())
result.show()

+---------------+----------+-----------+-------------------+
| Country/Region|TotalCases|TotalDeaths|local_death_percent|
+---------------+----------+-----------+-------------------+
|          Yemen|      1768|        508|              28.73|
|         France|    195633|      30312|              15.49|
|             UK|    308134|      46413|              15.06|
|          Italy|    249204|      35187|              14.12|
|        Belgium|     71158|       9859|              13.86|
|        Hungary|      4597|        600|              13.05|
|         Mexico|    462690|      50517|              10.92|
|    Netherlands|     56982|       6153|               10.8|
|   Sint Maarten|       160|         16|               10.0|
| Western Sahara|        10|          1|               10.0|
|           Chad|       942|         76|               8.07|
|          Spain|    354530|      28500|               8.04|
|Channel Islands|       597|         47|               7.87|
|     Montserrat|        13|          1|               7.69|
|         Canada|    118561|       8966|               7.56|
|    Isle of Man|       336|         24|               7.14|
|         Sweden|     81967|       5766|               7.03|
|        Ireland|     26372|       1768|                6.7|
|        Ecuador|     90537|       5877|               6.49|
|          Sudan|     11780|        763|               6.48|
+---------------+----------+-----------+-------------------+
only showing top 20 rows

2. To find out the infected population percentage locally and globally

In [4]:
result = df.select(round((sum("TotalCases")*100.0)/sum("Population"),2).alias("global_infection_percent"))
result.show()

+------------------------+
|global_infection_percent|
+------------------------+
|                     0.3|
+------------------------+

In [5]:
result = df.select(col("Country/Region"), col("TotalCases"), col("Population"),
round((col("TotalCases") * 100.0 / when(col("Population") != 0, col("Population"))), 2).alias("local_infection_percent"))
result = result.orderBy(col("local_infection_percent").desc())
result.show()

+--------------+----------+----------+-----------------------+
|Country/Region|TotalCases|Population|local_infection_percent|
+--------------+----------+----------+-----------------------+
|         Qatar|    112092|   2807805|                   3.99|
| French Guiana|      8127|    299385|                   2.71|
|       Bahrain|     42889|   1706669|                   2.51|
|    San Marino|       699|     33938|                   2.06|
|         Chile|    366671|  19132514|                   1.92|
|        Panama|     71418|   4321282|                   1.65|
|        Kuwait|     70045|   4276658|                   1.64|
|          Oman|     80713|   5118446|                   1.58|
|           USA|   5032179| 331198130|                   1.52|
|  Vatican City|        12|       801|                    1.5|
|          Peru|    455409|  33016319|                   1.38|
|        Brazil|   2917562| 212710692|                   1.37|
|       Armenia|     39819|   2963811|                   1.34|
|       Andorra|       944|     77278|                   1.22|
|    Luxembourg|      7073|    626952|                   1.13|
|       Mayotte|      3042|    273419|                   1.11|
|     Singapore|     54555|   5854932|                   0.93|
|  South Africa|    538184|  59381566|                   0.91|
|        Israel|     79559|   9197590|                   0.86|
|      Maldives|      4680|    541448|                   0.86|
+--------------+----------+----------+-----------------------+
only showing top 20 rows

3. To find out the countries with the highest infection rates

In [6]:
from pyspark.sql.functions import col,max 
result = df.groupBy("Country/Region").agg(max("TotalCases").alias("most_infected_countries")).orderBy(col("most_infected_countries").desc()).limit(10)
result.show()

+--------------+-----------------------+
|Country/Region|most_infected_countries|
+--------------+-----------------------+
|           USA|                5032179|
|        Brazil|                2917562|
|         India|                2025409|
|        Russia|                 871894|
|  South Africa|                 538184|
|        Mexico|                 462690|
|          Peru|                 455409|
|         Chile|                 366671|
|      Colombia|                 357710|
|         Spain|                 354530|
+--------------+-----------------------+

4. To find out the countries and continents with the highest death counts

In [7]:
from pyspark.sql.functions import col, sum, coalesce, lit
result = df.groupBy("Country/Region").agg(sum(coalesce(col("TotalDeaths"), lit(0))).alias("highest_death_count"))
result = result.orderBy(col("highest_death_count").desc()).limit(10)
result.show()

+--------------+-------------------+
|Country/Region|highest_death_count|
+--------------+-------------------+
|           USA|             162804|
|        Brazil|              98644|
|        Mexico|              50517|
|            UK|              46413|
|         India|              41638|
|         Italy|              35187|
|        France|              30312|
|         Spain|              28500|
|          Peru|              20424|
|          Iran|              17976|
+--------------+-------------------+

5. Average number of deaths by day (Continents and Countries)

In [8]:
from pyspark.sql.functions import avg
result = df.groupBy("Continent").agg(round(avg(coalesce(col("NewDeaths"), lit(0))),2).alias("avg_daily_deaths"))
result = result.orderBy(col("avg_daily_deaths").desc())
result.show()

+-----------------+----------------+
|        Continent|avg_daily_deaths|
+-----------------+----------------+
|    North America|            23.4|
|    South America|            5.71|
|             Asia|            0.02|
|           Europe|             0.0|
|           Africa|             0.0|
|             NULL|             0.0|
|Australia/Oceania|             0.0|
+-----------------+----------------+

6. Average of cases divided by the number of population of each country (TOP
10)

In [9]:
result = df.select(col("Country/Region"), col("TotalCases"), col("Population"),
round((col("TotalCases") * 100.0) / when(col("Population") != 0, col("Population")), 2).alias("infection_percent"))
result = result.orderBy(col("infection_percent").desc()).limit(10)
result.show()

+--------------+----------+----------+-----------------+
|Country/Region|TotalCases|Population|infection_percent|
+--------------+----------+----------+-----------------+
|         Qatar|    112092|   2807805|             3.99|
| French Guiana|      8127|    299385|             2.71|
|       Bahrain|     42889|   1706669|             2.51|
|    San Marino|       699|     33938|             2.06|
|         Chile|    366671|  19132514|             1.92|
|        Panama|     71418|   4321282|             1.65|
|        Kuwait|     70045|   4276658|             1.64|
|          Oman|     80713|   5118446|             1.58|
|           USA|   5032179| 331198130|             1.52|
|  Vatican City|        12|       801|              1.5|
+--------------+----------+----------+-----------------+

Using JOINS to combine the covid_deaths and covid_vaccine tables :
1. To find out the population vs the number of people vaccinated

In [9]:
import pyspark
from pyspark.sql.functions import col,round,max
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("MakerPlanJoins").getOrCreate()
df_world = spark.read.csv('worldometer.csv',header=True,inferSchema = True)
df_covid = spark.read.csv('covid.csv',header=True,inferSchema=True)
joined_df = df_world.join(df_covid, on="Country/Region")

result = joined_df.groupBy("Country/Region", "Population") \
	.agg(max("People_vaccinated").alias("total_people_vaccinated")) \
	.withColumn("percent_vaccinated", round(col("total_people_vaccinated") * 100.0 / col("Population"), 2)) \
	.orderBy(col("percent_vaccinated").desc())

result.show()

+--------------+----------+-----------------------+------------------+
|Country/Region|Population|total_people_vaccinated|percent_vaccinated|
+--------------+----------+-----------------------+------------------+
|         Spain|  46756648|               90174564|            192.86|
|     Argentina|  45236884|               73644938|             162.8|
|     Australia|  25528864|               28271812|            110.74|
|  South Africa|  59381566|               60756794|            102.32|
|        Canada|  37775022|               36451668|              96.5|
|  Saudi Arabia|  34865919|               33514620|             96.12|
|        Poland|  37842302|               35984096|             95.09|
|         Japan| 126435859|               85256419|             67.43|
|         Egypt| 102516525|               67109882|             65.46|
|        Turkey|  84428331|               53611439|              63.5|
|            UK|  67922029|               42835856|             63.07|
|         Italy|  60452568|               37861529|             62.63|
|       Germany|  83811260|               45784782|             54.63|
|        Russia| 145940924|               71888907|             49.26|
|        Mexico| 129066160|               38819399|             30.08|
|       Nigeria| 206606300|               54725869|             26.49|
|     Indonesia| 273808365|               49968904|             18.25|
|           USA| 331198130|               51744209|             15.62|
|        Brazil| 212710692|               29940019|             14.08|
|    Bangladesh| 164851401|               20200094|             12.25|
+--------------+----------+-----------------------+------------------+
only showing top 20 rows

2. To find out the percentage of different vaccine taken by people in a country

In [17]:
from pyspark.sql.functions import count

# Rename the column to remove the trailing space
joined_df = joined_df.withColumnRenamed("Vaccines ", "Vaccines")

# Filter and group by the corrected column name
joined_df.filter(col("Country/Region") == "India").groupBy("Country/Region", "Vaccines").agg(count("*").alias("record_count")).show()

+--------------+----------+------------+
|Country/Region|  Vaccines|record_count|
+--------------+----------+------------+
|         India| Covaxin  |           1|
+--------------+----------+------------+

3. To find out percentage of people who took both the doses

In [19]:
from pyspark.sql.functions import col, max, round

# Use the correct DataFrame (df_covid) for aggregation
grouped_df = df_covid.groupBy("Country/Region").agg(
    max("People_vaccinated").alias("total_vaccinated"),
    max("People_fully_vaccinated").alias("total_fully_vaccinated")
)

# Calculate the percentage of fully vaccinated people
result_df = grouped_df.withColumn(
    "percent_fully_vaccinated",
    round(col("total_fully_vaccinated") * 100.0 / col("total_vaccinated"), 2)
)

result_df.show()

+--------------+----------------+----------------------+------------------------+
|Country/Region|total_vaccinated|total_fully_vaccinated|percent_fully_vaccinated|
+--------------+----------------+----------------------+------------------------+
|        Russia|        71888907|              67254980|                   93.55|
|        Turkey|        53611439|              34632934|                    64.6|
|       Germany|        45784782|              17216543|                    37.6|
|        France|         2336961|               2010072|                   86.01|
|     Argentina|        73644938|              71103845|                   96.55|
|         India|        32095958|              31420042|                   97.89|
|         China|        33950722|              18860949|                   55.55|
|       Nigeria|        54725869|              31841587|                   58.18|
|         Italy|        37861529|              16696305|                    44.1|
|         Spain|        90174564|              66170088|                   73.38|
|    Bangladesh|        20200094|              15342295|                   75.95|
|           USA|        51744209|              29696222|                   57.39|
|   South Korea|        32015334|              20578233|                   64.28|
|        Mexico|        38819399|              17144752|                   44.17|
|     Indonesia|        49968904|              19203397|                   38.43|
|            UK|        42835856|              19255922|                   44.95|
|  Saudi Arabia|        33514620|              12301217|                    36.7|
|        Canada|        36451668|               6973469|                   19.13|
|        Brazil|        29940019|              21053080|                   70.32|
|         Japan|        85256419|              45114282|                   52.92|
+--------------+----------------+----------------------+------------------------+
only showing top 20 rows